button {
  appearance: none;
  border: none;
  outline: none;
}

button.badge {
  border-radius: 100%;
  padding: 7px;
  height: min-content;
  background-color: #5c61c1;
}
button.badge:hover {
  background-color: #646cff;
}
button.badge:active {
  background-color: white;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);
}

.actualboard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* background-size: 75px 100px;  */
  transition: background 0.1s cubic-bezier(0.5, 1, 0.89, 1);
}

.board-transform {
  overflow: visible;
  height: 100%;
  width: 100%;
  transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
  transform-origin: top left;
}

.clone-container {
  position: absolute;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: matrix(0.1, 0, 0, 0.1, 100, 100);

  transition: none;
  transform-origin: top left;
}

.resize-wrapper,
.group,
.selection-marquee {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  padding: 0;
  word-wrap: break;
  transition: none !important;
  outline: 5px solid white;
  z-index: 0;
}

.resize-handle {
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 8px;
}

.resize-handle.top,
.resize-handle.bottom {
  width: calc(100% - 8px);
  transform: translate(-50%, 0%);
  left: 50%;
  cursor: n-resize;
}

.resize-handle.left,
.resize-handle.right {
  height: calc(100% - 8px);
  transform: translate(0%, -50%);
  top: 50%;
  cursor: w-resize;
}

.resize-handle.top,
.resize-handle.top-left,
.resize-handle.top-right {
  top: 0%;
}

.resize-handle.bottom,
.resize-handle.bottom-left,
.resize-handle.bottom-right {
  bottom: 0%;
}

.resize-handle.top-left,
.resize-handle.bottom-right {
  cursor: nw-resize;
}

.resize-handle.top-right,
.resize-handle.bottom-left {
  cursor: sw-resize;
}

.resize-handle.left,
.resize-handle.top-left,
.resize-handle.bottom-left {
  left: 0;
}

.resize-handle.right,
.resize-handle.top-right,
.resize-handle.bottom-right {
  right: 0%;
}

/* Nodes START */
.node {
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 0.375rem;
  padding: 0;
  word-wrap: break;
  transition: none !important;
  outline: 1px solid grey;
}

.node.selected {
  outline: 3px solid rgba(255, 255, 255, 0.8);
}

.node.dragging,
.resize-wrapper.dragging {
  opacity: 0 !important;
}

.node.dragging *,
.resize-wrapper.dragging * {
  pointer-events: none;
}

.note {
  resize: none;
  z-index: 2;
  min-height: 50px;
  min-width: 75px;
  max-height: 1000px;
  max-height: 1000px;
  cursor: grab;
  text-align: left;
  overflow: hidden;
}

.image {
  resize: none;
  z-index: 2;
  min-height: 100px;
  min-width: 100px;
  cursor: grab;
}

.note .ProseMirror {
  height: 100% !important;
  min-height: 100% !important;
  box-sizing: border-box;
}
/* 
.note.editing {
  height: max-content !important;
  overflow: auto !important;
} */

/* .selection-marquee {
  background-color: #646cff5f;
  border: #646cff;
  position: absolute;
  z-index: 99;
} */

.group {
  width: 500px;
  height: 500px;
  min-height: 100px;
  min-width: 100px;
  z-index: -1;
}

.group .editable {
  position: relative;
  pointer-events: auto;
  top: -5px;
  transform: translate(0, -100%);
  /* box-sizing: border-box; */
  text-align: left;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 5px;
  font-weight: 800;
  border-radius: 5px;
}

.group.selected .editable {
  top: -14px;
}

.board,
.document {
  z-index: 2;
  background-color: transparent;
  cursor: grab;
  /* height: 100px; */
  /* max-height: 100px; */
  outline: none !important;
  height: fit-content;
  width: fit-content;
  overflow-y: visible;
}

.board .icon-wrapper,
.document .icon-wrapper {
  flex: 0 0;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  border-radius: 15px;
  outline: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board.selected .icon-wrapper,
.document.selected .icon-wrapper {
  outline: 3px solid rgba(255, 255, 255, 0.8);
}

.board .editable,
.document .editable {
  margin: 1px auto;
}

.icon-wrapper * {
  width: 66% !important;
  height: 66% !important;
}

.task {
  width: 250px;
  display: grid;
  grid-template-columns: 20px auto 25px;
  grid-template-rows: auto;
  grid-template-areas: "checkbox title edit" "badges badges badges";
  text-align: left;
  column-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  pointer-events: unset;
}

.task.in-column {
  box-sizing: border-box;
}

/* Nodes END */

/* Sidebar START */

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.375rem;
  gap: 0.375rem;
  width: 40px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 10px;
  border-radius: 10px;
  transform: translateY(-50%);
  z-index: 2;
}
textarea.resizable {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scrollbar-width: none;
}
textarea.resizable::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  scrollbar-width: none;
}
.toolbar-button {
  width: 40px;
  margin: 5px;
}
.toolbar-item {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 0.25em;
  font-size: 15px;
  padding: 8px;
  margin: 5px;
  box-sizing: border-box;
  align-items: center;
  height: fit-content;
  width: 40px;
  height: 40px;
  cursor: grab;
}
.toolbar-item > * {
  margin: 2px 0;
}

.toolbar-item:active {
  cursor: grabbing;
}

.toolbar-button,
.toolbar-item,
.context-menu-item {
  border: 1px solid transparent;
  transition: border-color 0.25s;
  border-radius: 0.375rem;
  background-color: var(--secondary-color);
}

.context-menu {
  width: 100%;
}

.toolbar-button,
.context-menu-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.toolbar-button:hover,
.toolbar-item:hover,
.context-menu-item:hover {
  border-color: #646cff;
}

.toolbar-button:active,
.toolbar-item:active,
.context-menu-item:active,
.toolbar-button.toggled {
  background-color: #718096;
}

.toolbar-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

/* Sidebar END */

.context-menu {
  background-color: var(--secondary-color);
  padding: 0.375rem;
  position: fixed;
  height: fit-content;
  width: 200px;
  border-radius: 0.375rem;
  z-index: 3;
  border: 1px solid grey;
}

.context-menu-group {
  display: flex;
  flex-direction: column;
}

/* Modal START */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: grid;
  overflow: auto;
}

.modal-body {
  background-color: var(--primary-color);
  width: 66%;
  height: fit-content;
  align-self: center;
  justify-self: center;
  border-radius: 0.2em;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
}

.modal-body .ProseMirror {
  min-height: 450px !important;
}

/* Modal END */

.dropzone {
  background-color: #1a1c46 !important;
  outline: dashed 4px rgb(255, 255, 255) !important;
  box-sizing: content-box !important;
}

.dropzone.over {
  background-color: #646cff !important;
  outline: dashed 4px olive !important;
}

/* Tooltip START */

.tooltip {
  position: absolute;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 0.25em;
  z-index: 3;
  min-width: 20px;
  white-space: nowrap;
  outline: 1px solid var(--secondary-color);
  width: fit-content;
  pointer-events: none;
}
.tooltip.top,
.tooltip.bottom {
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.top {
  margin-top: -235%;
}
.tooltip.bottom {
  margin-top: 35%;
}

.tooltip.left,
.tooltip.right {
  top: 50%;
  transform: translateY(-50%);
}
.tooltip.right {
  margin-left: 110%;
}

.tooltip.hidden {
  visibility: hidden;
  pointer-events: none;
  width: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}

/* Tooltip END */

/* Editor START */

.editor-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  height: 30px;
  background-color: var(--primary-color);
  padding: 8px 0;
  box-sizing: content-box;
}

.editor-button-group {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.editor-button {
  width: 100%;
  height: 100%;
}

.editor-button {
  appearance: none;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.editor-button:hover {
  border: 1px solid #646cff;
}

.editor-button svg {
  margin: auto;
  vertical-align: middle;
  justify-self: center;
}

.editor-button-group > .editor-button:first-child {
  border-radius: 0.25em 0 0 0.25em;
}

.editor-button-group > .editor-button:last-child {
  border-radius: 0 0.25em 0.25em 0;
}

/* Editor END */

.modal-body.task {
  background-color: red;
  height: 200px;
}
.clone-container * {
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
