/* Basic editor styles */
.ProseMirror {
    padding: 15px; 
    min-height: 70vh;
    outline: none;

    p {
      text-align: left;
    }

    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    h1 {
      font-weight: 1000;
      font-size: 2.4rem,
    }

    h2 {
      font-weight: 800;
      font-size: 2rem;
    }

    h3 {
      font-weight: 600;
      font-size: 1.6rem;
    }

    
    h4 {
      font-weight: 400;
      font-size: 1.2rem;
    }

    strong, strong > * {
      font-weight: 800;
    }

    em, em > * {
      font-style: italic;
    }
  
    code {
      background-color: #61616149;
      color: #616161;
      border-radius: 0.1em;
      box-decoration-break: clone;
      padding: 0.15em 0;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      width: 95%;
      margin: 1rem auto;
      text-align: left;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid var(--chakra-colors-whiteAlpha-300)
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }

    mark {
      border-radius: 0.1em;
      box-decoration-break: clone;
      padding: 0.15em 0;
    }
  }