
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  transition: none;
}

p, div, span, input, textarea {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden !important;
  overscroll-behavior: contain;
  transition: background 0.1s cubic-bezier(0.5, 1, 0.89, 1), background-color 0s;
}

#root.main {
  /* Light */
  --light-background: 254, 250, 224;
  --light-main: 96, 108, 56;
  --light-main-text: 0, 18, 25;
  --light-accent: 221, 161, 94;
  --light-accent-text: 188, 108, 37;

  /* Dark  */
  --dark-background: 0, 18, 25;
  --dark-main:40, 54, 24;
  --dark-main-text: 254, 250, 224;
  --dark-accent: 188, 108, 37;
  --dark-accent-text: 221, 161, 94;
}

#root {
  --primary-background-color: var(--light-background);
  --secondary-background-color: var(--light-main);
  --primary-color: var(--light-main);
  --secondary-color: var(--light-accent);
  color: rgb(var(--light-main-text));
}

#root.dark {
  --primary-background-color: var(--dark-background);
  --secondary-background-color: var(--dark-main);
  --primary-color: var(--dark-main);
  --secondary-color: var(--dark-accent);
  color: rgb(var(--dark-main-text));
}

@media (prefers-color-scheme: dark) {
  #root {
    --primary-background-color: var(--dark-background);
    --secondary-background-color: var(--dark-main);
    --primary-color: var(--dark-main);
    --secondary-color: var(--dark-accent);
    color: rgb(var(--dark-main-text));
  }

  #root.light {
    --primary-background-color: var(--light-background);
    --secondary-background-color: var(--light-main);
    --primary-color: var(--light-main);
    --secondary-color: var(--light-accent);
    color: rgb(var(--light-main-text));
  }
}


#root * {
  
  scrollbar-color: rgba(var(--secondary-color), 0.8) transparent;
}